<mat-toolbar color="primary">
  <mat-toolbar-row>
    <table>
      <tr>
        <td>
          <img src="../../assets/logo.png">
        </td>
        <td>
          <a style="margin-left:10px" routerLinkActive="active" routerLink="/login">Login</a>
        </td>
        <td>
          <a style="margin-left:10px" routerLinkActive="active" routerLink="/users">Show users</a>
        </td>
        <td>
          <a style="margin-left:10px" routerLinkActive="active" routerLink="/add">Add user</a>
        </td>
        <td>
          <a style="margin-left:10px" routerLinkActive="active" routerLink="/find">Find user</a>
        </td>
        <td>
          <span style="margin-left:10px">{{title}}</span>
        </td>
        <td><button mat-button style="margin-left:10px">Language</button></td>
        <td><button mat-button style="margin-left:10px">Contact</button></td>
      </tr>
    </table>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>

<!-- Fixed navbar -->
<!--<div class="container-fluid text-center pb-5">-->
  <!--<div style="text-align:center">-->
    <!--<h1>{{title}}</h1>-->
  <!--</div>-->
  <!--<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">-->
    <!--<a routerLink="/register">Register</a>-->
    <!--<a style="margin-left:10px" routerLink="/users">Show users</a>-->
    <!--<a style="margin-left:10px" routerLink="/add">Add user</a>-->
    <!--<a style="margin-left:10px" routerLink="/find">Find user</a>-->
  <!--</nav>-->
  <!--<router-outlet></router-outlet>-->
<!--</div>-->

