<div class="col-md-6" [hidden]="submitted">
  <h2 class="text-center">Add User</h2>
  <form (ngSubmit)="onSubmit()" #createUserForm="ngForm">
    <div class="form-group" style="text-align:left">
      <label for="firstName">First Name:</label>
      <input type="text"
             placeholder="First Name"
             name="firstName"
             class="form-control"
             id="firstName"
             required
             [(ngModel)]="user.firstName"
             #firstname="ngModel">
      <div [hidden]="firstname.valid || firstname.pristine"
           class="alert alert-danger">
        First Name is required
      </div>
    </div>

    <div class="form-group" style="text-align:left">
      <label for="lastName">Last Name:</label>
      <input type="text" placeholder="Last Name" name="lastName" class="form-control" id="lastName" required [(ngModel)]="user.lastName" #lastname="ngModel">
      <div [hidden]="lastname.valid || lastname.pristine"
           class="alert alert-danger">
        Last Name is required
      </div>
    </div>

    <div class="form-group" style="text-align:left">
      <label for="email">Email address:</label>
      <input type="email" placeholder="Email" name="eMail" class="form-control" id="email" required [(ngModel)]="user.email" #email="ngModel">
      <div [hidden]="email.valid || email.pristine"
           class="alert alert-danger">
        Email Address is required
      </div>
    </div>

    <button type="submit" class="btn btn-success" [disabled]="!createUserForm.form.valid" (click)="createUser()">Create User</button>
  </form>
</div>
<div class="col-md-6" [hidden]="!submitted">
  <h2>You created the following user:</h2>
  <table class="table table-striped">
    <thead style="text-align:left">
      <tr>
        <th>FirstName</th>
        <th>LastName</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody style="text-align:left">
      <tr>
        <td>{{user.firstName}}</td>
        <td>{{user.lastName}}</td>
        <td>{{user.email}}</td>
      </tr>
    </tbody>
  </table>
  <br>
  <button class="btn btn-primary" (click)="submitted=false">Edit User</button>
  <button class="btn btn-success" (click)="goBack()">Back</button>
</div>
